@import "tailwindcss";

/* --- Custom CSS variables --- */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Helvetica', Helvetica, sans-serif;
  --font-mono: 'Courier New', monospace;
}

/* --- Global body styles --- */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
